.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App {
  text-align: center;
  background-image: url("./assets/panplanbackground.png");
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logo {
  max-width: 100px;
  height: auto;
  align-self: center;
  text-align: center;
}

.Nav {
  background-color: #b0e5ff;
  height: 100px;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;

  box-shadow: 0px 0px 15px black;
}

.wrapper {
  width: 300px;
  padding: 12px 20px;
  margin: 50px auto 30px auto;
  display: flex;
  flex-direction: column;
  -ms-flex-align: center;
  background-color: #b0e5ff;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0px 0px 10px black;
}

input[type="title"] {
  width: 200px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
}

input[type="username"] {
  width: 200px;
  padding: 12px 15px;
  margin: 8px auto 4px auto;
  box-sizing: border-box;
  border: 2px solid #b0e5ff;
  border-radius: 10px;
  align-self: center;
}

input[type="password"] {
  width: 200px;
  padding: 12px 15px;
  margin: 8px auto 4px auto;
  box-sizing: border-box;
  border: 2px solid #b0e5ff;
  border-radius: 10px;
  align-self: center;
}

.card {
  padding: 12px 20px;
  /* margin-left: auto;
  margin-right: auto; */
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #d0dcc6;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0px 0px 10px #415345;
}

.card-title {
  color: #415345;
}

.btn-add-meal {
  background-color: #415345;
  border: #415345;
}

.btn-meal {
  background-color: #a5bda5;
  border: 0;
  color: #2f3e33;
}

.btn-meal:hover {
  background-color: #a5bda5;
}

.btn-add-meal:hover {
  background-color: #415345;
}

.btn-add-meal:focus {
  background-color: #415345;
}

.modal-title {
  color: white;
}
.modal-header {
  background-color: #415345;
}

.modal-body {
  background-color: #a5bda5;
}

.modal-body select {
  background-color: #d0dcc6;
}
