/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .bg::before {
  content: "";
  background-image: url("./assets/panplanbackground.png");
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  background-attachment: scroll;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
} */

.App {
  content: "";
  background-image: url("./assets/panplanbackgroundtrans.png");
  background-size: cover;
  background-repeat: repeat-y;
  background-position: center;
  min-height: 100vh;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.navbar {
  background-color: #415345;
}

.logo {
  max-width: 100px;
  height: auto;
  align-self: center;
  text-align: center;
}

.logo-title {
  font-family: Monaco, "Courier New", monospace;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: #415345;
}

.Nav {
  background-color: #68846d;
  height: 100px;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;
  box-shadow: 0px 0px 15px black;
}

.wrapper {
  width: 350px;
  padding: 12px 20px;
  margin: 50px auto 30px auto;
  display: flex;
  flex-direction: column;
  background-color: #d0dcc6;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: 0px 0px 10px black;
}

label {
  padding-left: 10px;
}

input[type="username"] {
  padding: 12px 15px;
  margin: 8px auto 8px auto;
  box-sizing: border-box;
  border: 2px solid #d0dcc6;
  border-radius: 10px;
  align-self: center;
}

input[type="password"] {
  padding: 12px 15px;
  margin: 8px auto 4px auto;
  box-sizing: border-box;
  border: 2px solid #d0dcc6;
  border-radius: 10px;
  align-self: center;
}

.login-button {
  background-color: #415345;
  border-color: #415345;
}

a {
  color: #2f3e33;
}

.navbar-brand {
  font-family: Monaco, "Courier New", monospace;
  font-weight: bold;
}

.card {
  padding: 12px 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #d0dcc6;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0px 0px 10px #415345;
  position: relative;
}

.card-title {
  color: #415345;
  text-align: center;
}

.detail-list {
  background-color: #d0dcc6;
}
.btn-add-meal {
  background-color: #415345;
  border: #415345;
}

.btn-meal {
  background-color: #a5bda5;
  border: 0;
  color: #2f3e33;
}

.btn-meal:hover {
  background-color: #a5bda5;
}

.btn-add-meal:hover {
  background-color: #415345;
}

.btn-add-meal:focus {
  background-color: #415345;
}

.modal-title {
  color: white;
}
.modal-header {
  background-color: #415345;
}

.modal-body {
  background-color: #a5bda5;
}

.modal-body select {
  background-color: #d0dcc6;
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.recipe-card {
  padding: 12px 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #d0dcc6;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0px 0px 10px #415345;
  position: relative;
  width: 19rem;
  height: 20rem;
}

.search-recipe {
  padding: 12px 15px;
  /* margin: 8px auto 8px auto; */
  margin-left: 10px;
  box-sizing: border-box;
  border: 2px solid #d0dcc6;
  border-radius: 10px;
  align-self: center;
}

.create-recipe {
  background-color: #415345;
  border-color: #415345;
  margin-right: 10px;
}

.create-recipe:hover {
  background-color: #415345;
  border-color: #415345;
}

.card-image {
  border-radius: 10px;
  width: 100%;
  height: 170px;
}

.container {
  text-align: center;
}

.recipe-detail-card {
  margin: 30px auto 30px auto;
}
